.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .toggle-label {
    margin-left: 5px;
    font-size: 1.2rem;
  }