body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.count-box {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 10px solid #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#counter {
  font-size: 100px;
  color: #000000;
}

#reset-button {
  font-size: 24px;
  background-color: #32CD32;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}